<configuration>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGING_PATH:-/tmp}/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGGING_PATH:-/tmp}/access.%d{yyyy-MM-dd_HH}.log.zip</fileNamePattern>
            <maxHistory>${REQUESTLOG_RETAINHOURS:-72}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%h %l %u [%t] "%r" %s %b "%i{Referer}" "%i{User-Agent}" %D</pattern>
        </encoder>
    </appender>
    <appender-ref ref="file" />
</configuration>
